<form
  (ngSubmit)="editMode ? edit() : add()"
  [formGroup]="form"
  class="flex flex-col space-y-2 text-center"
>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" />
  </mat-form-field>

  <editor
    formControlName="content"
    [init]="{
      base_url: '/tinymce',
      suffix: '.min',
      height: 500,
      menubar: true,
      plugins: 'advlist anchor autosave image link lists media searchreplace table visualblocks wordcount',
  
      toolbar: 'undo redo | styles | bold italic underline strikethrough | align | table link image media | bullist numlist outdent indent',
  
    }"
  ></editor>
  <button
    [disabled]="form.invalid"
    mat-raised-button
    color="primary"
    type="submit"
  >
    submit
  </button>
</form>
